Требования к программе учета рабочего времени

  Учёт рабочего времени по группам (фактически, отпуск, и т.д.)
  Вычисление количества "праздничных" часов.
  Вычисление количества "ночных" часов.
  Вычисление переработки.
  Вычисление дополнительного отпуска.

  Ввод данных с помощью форм.
  Контроль целостности и корректности вводимых данных.
  
  Разграничение прав доступа для пользователей и администратора.
  Возможность корректировки данных администратором.
  Защита данных от несанкционированного доступа.
  Регистрация и удаление пользователя, администратором.
  Логирование действий администратора и пользователей (касаемо изменений в базе данных).
  
  Поиск данных по Ф.И.О. сотрудника, наименованию подразделения, номеру караула, и дате.
  Фильтрация и группировка данных по Ф.И.О. сотрудника, наименованию подразделения, номеру караула, и дате.
  Возможность сохранения не доконца заполненной формы, с последующим её открытием и доработкой.
  
  Вывод данных в форме Т12 (табель учета рабочего времени).
  Возможность сохранения табеля в формате *.pdf.
  
  Печать.
  Предварительный просмотр и настройка перед печатью.
  
  Наличие развёрнутой справочной документации.